body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0)),url(869923.webp);
    background-position: auto;
    background-size: cover;
    font-family: sans-serif;
}

.Contact
{
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;

}

.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;

}

form .submit
{
    background-color: transparent;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    height: 10x;
    margin-top: 20px;
}

form .submit:hover
{
    background-color: rgb(49, 1, 143);
    cursor: pointer;
}